body
{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3{
    display: inline;
    font-size: 22px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.footer{
    background-color:brown;
    box-shadow:20px 27px 17px crimson;
    width: 80%;
    margin-bottom: 10px;
    color: white;
    line-height: 2;
    bottom: 10px;
    position: sticky;
   
}
.modal-body{
    text-align: left;
}